<span class="sep concentrationnotifier">{{localize "DND5E.Concentration"}}</span>
<input type="checkbox" name="flags.concentrationnotifier.data.requiresConcentration" {{checked requiresConcentration}}>
