<span class="sep concentrationnotifier">{{localize "CN.ConcentrationAbbr"}}</span>
<input type="checkbox" name="flags.concentrationnotifier.data.requiresConcentration" {{checked requiresConcentration}}>
