<div class="concentrationnotifier">
  <div class="card-contents prompt-card">
    <div class="header">{{localize "DND5E.Concentration"}}</div>
    <div class="gain-loss-details">
      <div class="details">{{details}}</div>
      <div class="item-image">
        <a name="render-item-sheet" data-item-uuid="{{itemUuid}}">
          <img src="{{itemImg}}">
        </a>
      </div>
    </div>
  </div>
</div>
<hr>
