/* for item sheets separator */
span.sep.concentrationnotifier {
  margin: 0 4px 0 0 !important;
}

/* PROMPT CARDS */
.concentrationnotifier div.card-contents.prompt-card .header {
  text-align: center;
  font-size: 25px;
  font-family: "Modesto Condensed";
  margin: 0.25em;
  border-radius: 3px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.concentrationnotifier div.card-contents.prompt-card .details,
.concentrationnotifier div.item-image {
  margin: 0.5em 0.5em 0 0.5em;
}

.concentrationnotifier .prompt-card .buttons {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.concentrationnotifier button[name="saving-throw"] {
  border-radius: 8px;
  margin-bottom: 0.5em;
  border-right: outset;
  border-bottom: outset;
}

.concentrationnotifier button[name="delete-concentration"],
.concentrationnotifier button[name="remove-templates"] {
  padding: 0 10px 0 10px;
  width: 90%;
  min-width: fit-content;
  margin: 2px 0;
}

.concentrationnotifier a[name="render-item-sheet"] {
  font-weight: bold;
  text-decoration: underline;
}

.concentrationnotifier .gain-loss-details {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.concentrationnotifier .item-image a:hover {
  filter: drop-shadow(0 0 3px red);
}

.concentrationnotifier .item-image img {
  border: none;
  border-radius: 3px;
}

.notification.concentrationnotifier {
  background: rgb(110 0 159 / 80%);
  border: 1px solid #503d51;
}

.notification.concentrationnotifier::before {
  content: "\f071";
}
